GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
# On UNIX systems you can use `openssl rand -hex 32` or
# https://generate-secret.vercel.app/32 to generate a secret.
AUTH_SECRET=""

DATABASE_URL="file:./dev.db"
